<div class="wrapper">
  <div class="header">
    <div class="inner">
      <table class="center">
        <tr>
          <td><a [routerLink]="['/Home']">Home</a></td>
          <td></td>
          <td><a [routerLink]="['/Aboutus']">About us</a></td>
        </tr>
      </table>
    </div>
  </div>


  <div class="content">
    <div class="inner">
      <div class="scrollable">
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>


  <div class="footer">
    <div class="inner">Copyright &copy; Clairvoyant.com</div>
  </div>
</div>